.bg-dark {
  background-color: #343a40 !important;
}

.text-light {
  color: #f8f9fa !important;
}

.text-center {
  text-align: center !important;
}

.p-3 {
  padding: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}